<h2>Events</h2>

<% @events.each do |event| %>

  <p><%= event.name %>
    <%= event.gold_winner.name if event.gold_winner != nil %>

    <%= event.silver_winner.name if event.silver_winner != nil %>

    <%= event.bronze_winner.name if event.bronze_winner != nil %>

  </p>

<% end %>