<h2>Add an event</h2>

<p>
<form action="/events" method="post">

<label for="name">Name:&nbsp;&nbsp;</label>
<input type="text" name="name">&nbsp;&nbsp;

<label for="gender">Field:&nbsp;&nbsp;</label>
<select name="gender">
  <option value="<%= @gender %>">Men</option>
  <option value="<%= @gender %>">Women</option>
</select>&nbsp;&nbsp;

  <label for="discipline_id">Discipline:&nbsp;&nbsp;</label>
  <select name="discipline_id">
  <% @disciplines.each do |discipline| %>
    <option value="<%= discipline.id %>"><%= discipline.name %></option>
    <% end %>
  </select>&nbsp;&nbsp;

  <input type="submit" value="Add Event">
</form>
</p>