<h2>Add a new event</h>

<p>
<form action="/events" method="post">
  <label for="discipline">Discipline:</label>
  <select name="discipline">
    <option value=></option>
  </select>

  <label for="gender">Field:</label>
  <select name="gender">
    <option value=></option>
  </select>

  <label for="name">Name:</label>
  <input type="text" name="name">

  <input type="submit" value="Add event">
</form>
</p>