<h2>Update a Team</h2>

  <form action="/teams/<%= @team.id %>" method="post">

    <input type="hidden" name="_method" value="put">

    <label for="name">Team name:</label>
    <input type="text" name="name" value="<%= @team.name %>">

    <label for="code">Team code:</label>
    <input type="text" name="code" value="<%= @team.code %>">
    
    <label for="flag_url">Flag:</label>
    <input type="text" name="flag_url" value="flag/<%= @team.name %>.png">

    <input type='submit' value="Update Team">
  </form>