<h2>Add a new team</h2>

<form action="/teams" method="post">

  <label for="name">Name:&nbsp;&nbsp;</label>
  <input type="text" name="name">&nbsp;&nbsp;

  <label for="code">Code:&nbsp;&nbsp;</label>
  <input type="text" name="code">&nbsp;&nbsp;

  <label for="flag_url">Flag:&nbsp;&nbsp;</label>
  <input type="text" name="flag_url">&nbsp;&nbsp;

    <input type='submit' value="Add Team">
  </form>