<b>Name: <%= @team.name() %></b>
<br>
<a href="/teams/<%= @team.id %>/edit">Edit</a>

<form action="/teams/<%= @team.id %>" method="post">
<input type="submit" value="Delete"/>
<input name="_method" type="hidden" value="delete"/>  
</form>