<h2>Welcome</h2>

<p id="intro">
Welcome to this PyeongChang 2018 Winter Olympics results tracker.<br/><br/>
Completed as a project for my studies at CodeClan, Edinburgh, the site has full CRUD usability for athletes, teams, events, disciplines, and results. Although using seed data in this demonstration, the model is fully operational and could equally be used with real-world data. Built with Ruby and SQL, the full brief can be seen below.<br/><br/>


<strong>Brief:</strong><br/><br/>

The 2018 Winter Olympics are set to take place in South Korea. The organising body want you to help them out with an important feature for their website. They are looking for an app that will track the nations, athletes and results of events.<br/><br/>

They would like to make it possible to add an athlete, which will have an associated nation. Event results should keep track of the athlete who got gold, silver and bronze as well as the event they participated in.<br/><br/>

As an MVP they would ideally like:<br/><br/>

Nation medal results table with gold, silver and bronze count for each nation total points for each nation (5 for gold, 3 for silver, and 1 for bronze).<br/><br/>

Be able to add an athlete, nation and event result.<br/><br/>

Further functionality would be CRUD actions for athlete, nation and event results, listing each event with the medalists.
</p>
