<!DOCTYPE html>
<html>
<head>
  <title>Pyeongchang Winter Olympics 2018: Results Updater</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
 <nav>
 <!--  <img src="logo.png"/> -->
   <ul>
      <li><a href="/teams">Teams</a> </li>
     <li><a href="/athletes">Athletes</a> </li>
     <li><a href="/events">Events</a> </li>
     <li><a href="/disciplines">Disciplines</a> </li>
   </ul>
 </nav>
 <main>
 <%= yield %>
 </main> 
</body>  
</html>