body {
  font-family: "Helvetica";
}

nav {
  background-color: darkblue;
  height: 80px;
  position: relative;
  width: 100%;
}

nav ul{
  padding-left: 0px;
  margin: 0px;
  list-style-type: none;
  line-height: 80px;
}

nav ul li{
  display: inline;
}

nav ul li a{
  text-decoration: none;
  color: white;
  line-height: 65px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 100;
}



main {
  padding-top: 80px;
  background-color: white;
  overflow: scroll;
  min-height: 50em;
}

.grid {
  border: 0px;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
  padding: 0px;
  border: 0px;
}

/*Media queries*/
@media all and (min-width: 480px){

  .grid-row-sm{
    flex-direction:row;
  }
}

@media all and (min-width: 720px){

  .grid-row-md{
    flex-direction:row;
  }
}

@media all and (min-width: 960px){

  .grid-row-lg{
    flex-direction:row;
  }
}