<h2>Add a new athlete</h>

<p>
<form action="/athletes" method="post">
  <label for="team">Team:</label>
  <select name="team">
    <option value=></option>
  </select>

  <label for="name">Name:</label>
  <input type="text" name="name">

  <input type="submit" value="Add athlete">
</form>
</p>