<h2>Add a new athlete</h>

  <p>
    <form action="/athletes" method="post">

      <label for="name">Name:</label>
      <input type="text" name="name">

      <label for="team_id">Team:</label>
      <select name="team_id">
        <% @teams.each do |team| %>
        <option value ="<%= team.id %>"><%= team.name %></option>
        <% end %>
      </select>

      <input type="submit" value="Add Athlete">
    </form>
  </p>