<h2>Disciplines</h2>

<a href="/disciplines/new">add a discipline</a>

<% @disciplines.each do |discipline| %>
  <p><%= discipline.name %> 
    <% discipline.events.each do |event| %>
      <%= event.name %>
    <% end %></p>

    <a href="/disciplines/<%= discipline.id %>/edit">edit</a>

    <form action="/disciplines/<%= discipline.id %>" method="post">
    <input type="submit" value="Delete"/>
    <input name="_method" type="hidden" value="delete"/>  
    </form>

<% end %>