<h2>Disciplines</h2>

<a href="/disciplines/new">Add a discipline</a>
<hr>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Events</th> 
    <th></th>
  </tr>

  <% @disciplines.each do |discipline| %>

  <tr>
  <td height="28"><a href="/disciplines/<%= discipline.id %>/edit"><%= discipline.name %></a></td>

    <td><% discipline.events.each do |event| %>
    <%= event.name %>,
    <% end %></td>

    <td>
    <form action="/disciplines/<%= discipline.id %>" method="post">
      <input type="submit" value="Delete"/>
      <input name="_method" type="hidden" value="delete"/>  
    </form>
    </td>
  </tr>
  <% end %>
 