<h2>Disciplines</h2>

<a href="/disciplines/new">add a discipline</a>

<% @disciplines.each do |discipline| %>

<div class="grid">
<div class="grid-row grid-row-sm">

<div class="cell"><%= discipline.name %></div>

  <div class="cell">
  <% discipline.events.each do |event| %>
  <%= event.name %>
  <% end %>
  </div>

  <div class="cell">
  <a href="/disciplines/<%= discipline.id %>/edit">edit</a>
  </div>

  <div class="cell">
  <form action="/disciplines/<%= discipline.id %>" method="post">
    <input type="submit" value="Delete"/>
    <input name="_method" type="hidden" value="delete"/>  
  </form>
  </div>

  </div>
  </div>

  <% end %>