<h2>Add a new discipline</h2>

<p>
<form action="/disciplines" method="post">

  <label for="name">Name:&nbsp;&nbsp;</label>
  <input type="text" name="name">&nbsp;&nbsp;

  <input type="submit" value="Add discipline">

</form>
</p>