<h2>Add a new discipline</h>

<p>
<form action="/disciplines" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name">

  <input type="submit" value="Add discipline">

</form>
</p>